.cabecera{
	background-color: white;
	text-align: center;
	box-shadow: 0px 2px 5px black;
}
.separacion-derecha{
	margin-right: 10px;
}
.footer{
	background-color: #5D6D7E;
}
.modalsfooter{
	background-color: #F1F2FF;
}
.Copyright{
	color: #B2BABB;
	font-size: 18px;
	font-family: Arial;
}
.labelmargin{
	margin-bottom: 10px;
}