input[type="file"]{
	margin: 0 0 15px;
	padding: 10px 1%;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.principal{
	width:80%;
	margin:0 auto;
	padding: 3% 0 6% 0%;
	clear:both;
}

.barra{
	background-color: #f3f3f3;
	border-radius: 5px;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,.2);
	height:25px; 
}

.cancel{
	background: #ed1f3c !important;
}

.barra_azul{
	background-color: #247cc0;
	border-radius: 10px;
	display:block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 0%;
}

.barra_verde{
	background-color: #2ea265 !important;
}

.barra_roja{
	background-color: #de3152 !important;
}

#form_subir{
	margin: 1.5% 0;
	padding: 2%;
}
#barra_estado span{
	color: #fff;
	font-weight: bold;
	line-height: 25px;
}