<div class="modal fade" id="modalCreateUser" tabindex="-1" role="dialog">
					  	<div class="modal-dialog">
					    	<div class="modal-content">
					    		<div id="_status"></div> <!-- muestra error -->
						      	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        	<h4 class="modal-title">Registrar Usuario</h4>
						      	</div>
						      	<div class="modal-body">
					        		<label for="registerUserName">Ingresa Nombre: </label>
					        		<input type="text" id="registerUserName" class="form-control" placeholder="Nombre.">
					        		<label for="registerUserUserName">Ingresa Nombre de Usuario: </label>
					        		<input type="text" id="registerUserUserName" class="form-control" placeholder="Nombre de Usuario.">
					        		<label for="registerUserMail">Ingresa Mail: </label>
					        		<input type="text" id="registerUserMail" class="form-control" placeholder="Mail.">
					        		<label for="registerUserPass">Ingresa Password: </label>
					        		<input type="text" id="registerUserPass" class="form-control" placeholder="Password.">
									<label for="registerUserLevel">Ingresa Nivel: </label>
					        		<input type="text" id="registerUserLevel" class="form-control" placeholder="Nivel.">
					      		</div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        		<button type="button" id="registerUser" class="btn btn-primary">Ingresar</button>
					      		</div>
					    	</div>
					    </div>
					</div>