<div class="modal fade" id="modalEditName" tabindex="-1" role="dialog">
					  	<div class="modal-dialog">
					    	<div class="modal-content">
					    		<div id="editError"></div> 
						      	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        	<h4 class="modal-title">Cambiar Nombre</h4>
						      	</div>
						      	<div class="modal-body">
						      		<label for="newName">Ingresa Nombre Nuevo: </label>
					        		<input type="text" id="newName" class="form-control" placeholder="Nuevo Nombre.">
									
					      		</div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        		<button type="button" id="changeName" class="btn btn-primary">Cambiar Nombre</button>
					      		</div>
					    	</div>
					    </div>
					</div>