<div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog">
					  	<div class="modal-dialog">
					    	<div class="modal-content">
					    		<div id="_status"></div> <!-- muestra error -->
						      	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        	<h4 class="modal-title">Modificar Usuario</h4>
						      	</div>
						      	<div class="modal-body">
					        		<label for="editUserName">Ingresa Nombre: </label>
					        		<input type="text" id="editUserName" class="form-control" placeholder="Nombre.">
					        		<label for="editUserUserName">Ingresa Nombre de Usuario: </label>
					        		<input type="text" id="editUserUserName" class="form-control" placeholder="Nombre de Usuario.">
					        		<label for="editUserMail">Ingresa Mail: </label>
					        		<input type="text" id="editUserMail" class="form-control" placeholder="Mail.">
					        		<label for="editUserPass">Ingresa Password: </label>
					        		<input type="text" id="editUserPass" class="form-control" placeholder="Password.">
									<label for="editUserLevel">Ingresa Nivel: </label>
					        		<input type="text" id="editUserLevel" class="form-control" placeholder="Nivel.">
					      		</div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        		<button type="button" id="editUser" class="btn btn-primary">Ingresar</button>
					      		</div>
					    	</div>
					    </div>
					</div>