<div class="modal fade" id="listUsers" tabindex="-1" role="dialog">
					  	<div class="modal-dialog">
					    	<div class="modal-content">
					    		<div id="_status"></div> <!-- muestra error -->
						      	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        	<h4 class="modal-title">Usuarios</h4>
						      	</div>
						      	<div class="modal-body">
					        			
					        		<table id="UsersList" border="1">
					        			
					        		</table>

					      		</div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        		<button id="LoadUsers" type="button" class="btn btn-success">Cargar datos</button>
					        		<button id="Delete" type="button" class="btn btn-danger">Eliminar seleccionados</button>
					      		</div>
					    	</div>
					    </div>
					</div>