<div class="modal fade" id="modalRegisterEnterprise" tabindex="-1" role="dialog">
					  	<div class="modal-dialog">
					    	<div class="modal-content">
					    		<div id="_status"></div> <!-- muestra error -->
						      	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        	<h4 class="modal-title">Registrar Empresa</h4>
						      	</div>
						      	<div class="modal-body">
						      		<label for="registerNameEnterprise">Ingresa Nombre de la Empresa: </label>
					        		<input type="text" id="registerNameEnterprise" class="form-control" placeholder="Nombre de la Empresa.">
					        		<div style="text-align: center;padding-top: 5%;padding-bottom: 3%;"><label for="req">Es necesario registrar Administrador Empresa</label></div>
					        		<label for="registerAdminName">Ingresa Nombre: </label>
					        		<input type="text" id="registerAdminName" class="form-control" placeholder="Nombre.">
					        		<label for="registerAdminUserName">Ingresa Nombre de Usuario: </label>
					        		<input type="text" id="registerAdminUserName" class="form-control" placeholder="Nombre de Usuario.">
					        		<label for="registerAdminMail">Ingresa Mail: </label>
					        		<input type="text" id="registerAdminMail" class="form-control" placeholder="Mail.">
					        		<label for="registerAdminPass">Ingresa Password: </label>
					        		<input type="text" id="registerAdminPass" class="form-control" placeholder="Password.">
					      		</div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        		<button type="button" id="registerAdmin" class="btn btn-primary">Ingresar</button>
					      		</div>
					    	</div>
					    </div>
					</div>