<div class="modal fade" id="modalSubir" tabindex="-1" role="dialog">
					  	<div class="modal-dialog"> 
					    	<div class="modal-content">
					    		<div id="upError"></div>
						      	<div class="modal-header">
						        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        	<h4 class="modal-title">Selecciona un Archivo para subir</h4>
						      	</div>
						      	<div class="modal-body">
					        		<form action="./index.php" method="POST" enctype="multipart/form-data" id="UploadFile"> 
										<input name="upload" type="file" multiple="true" id="arch" class="file-input" />
										<div id="selecteds">Se han seleccionado: 0 Archivos, Tamaño total: 0.00 Mb</div>
										
									</form>
					      		</div>
					      		<div class="modal-footer">
					        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        		<button type="button" class="btn btn-primary" id="Upload"><span class="glyphicon glyphicon-circle-arrow-up"></span> Subir</button>
					      		</div>
					    	</div>
					    </div>
					</div>